@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

//colors
$red: #bb3530;
$white: #fff;

//base styles
* { 
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}

html,
body {
    //background: linear-gradient(to right, #ed213a, #93291e);
    //box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: $red;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1 {
  color: $white;
  font-size: 3.25em;
  font-weight: 900;

  text-align: center;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: auto;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

// Content
main {
  position: relative;   // Relative to its own position
  top: 80px; // Lower from top
  align-items: center; // Align elements to the center
  display: flex; // Grid like
  flex-direction: column;
  @media (max-width: 768px) {
    top: 60px;
  }
}

// Rest of Content
.container {
  position: relative;
  top: 80px;
  max-width: 600px;
  max-height: 400px;
  
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center; 
  overflow-y: auto; // Creates a "scroll window"

  @media (max-width: 768px) {
    max-width: 400px;
    top: 50px;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
  }

  app-square {
    //fill: $white;
    border: 1px solid $white;
  }
}

// Button
.btn {
  cursor: pointer;
  position: absolute;  // Positioned relative to the container
  height: 50px;
  width: 250px;
  background: darken($red, 1.5%);

  text {
    font-weight: 100;
    fill: $white;
    font-size: 16px;
    text-transform: uppercase;
    word-spacing: 10px;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  } 

  .default {
    opacity: 0;
  }

  rect {
    color: $white;
    stroke: $white;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
  }

  @media (max-width: 768px) {
    text {
      font-size: 10px;
    }
    height: 30px;
    width: 135px;
  }
}

.btn:hover {
  background: rgba($red, 0);
  .scoreboard {
    opacity: 0;
  }

  .default {
    opacity: 1;
    font-weight: 900;
    letter-spacing: 1px;
  }
  
  rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

// Wave Animation
.wapper {
  position: relative;
}

.content {
  position:absolute; //game changer
  width: 100%; //game changer: distribute equally in flex display
  bottom: 0; //game changer
  height: 20vh; //game changer
  text-align:center;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
}

.waves {
  position:absolute;
  bottom: 20vh;
  width: 100%;
  height: 350px;
  margin-bottom:-6px; /*Fix for safari gap*/
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

p {
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 150px;
    bottom: 10vh;
  }
  .content {
    height:10vh;
  }
  p {
    font-size:10px;
  }
}